
@{
    ViewData["Title"] = "Categories";
}

@model List<CheeseMVC.Models.CheeseCategory>

<h3>Cheese Categories</h3><br />

<table class="table">
    <tr>
        <th>CategoryID</th>
        <th>Name</th>
    </tr>
    @foreach(var category in @Model)
    {
        <tr>
            <td>@category.ID</td>
            <td>@category.Name</td>
        </tr>
    }
</table>
<p style="font-weight: bold"><a asp-controller="Category" asp-action="Add"> Add Category</a></p>

